<%- include("../partials/headerResult"); -%>

<h1 class="score">
    Your Score is <span><%=score%></span> 
</h1>

<div class="container">
    <br><strong>1) Using a larger block size in a fixed block size file system leads to </strong><br></b>
    <div class="userans">
        <h4>Your Answer was : <%=userans1%></h4>
        <h4>Correct Answer is : A</h4>
    </div>
        <blockquote>
        <div class="ans">
            <input type="radio" name="q1" value="A" id="a1" checked required> 
        <label for="a1">better disk throughput but poorer disk space utilization</label><br>
        </div>
        <input type="radio" name="q1" value="B" id="b1" required>
        <label for="b1">better disk throughput and better disk space utilization</label><br>
        <input type="radio" name="q1" value="C" id="c1" required>
        <label for="c1">poorer disk throughput but better disk space utilization</label><br>
        <input type="radio" name="q1" value="D" id="d1" required>
        <label for="d1">poorer disk throughput and poorer disk space utilization</label><br>
        </blockquote>
        <hr>

        <br><strong>2) Consider a machine with 64 MB physical memory and a 32-bit virtual address space. If the page size is 4KB, what is the approximate size of the page table?</strong><br></b>
        <div class="userans">
            <h4>Your Answer was : <%=userans2%></h4>
            <h4>Correct Answer is : C</h4>
        </div>
        <blockquote>
        <input type="radio" name="q2" value="A" id="a2" required> 
        <label for="a2">16 MB</label><br>
        <input type="radio" name="q2" value="B" id="b2" required> 
        <label for="b2">8 MB</label><br>
        <div class="ans">
            <input type="radio" name="q2" value="C" id="c2" checked required> 
            <label for="c2">2 MB</label><br>
        </div>
        <input type="radio" name="q2" value="D" id="d2" required>
        <label for="d2">24 MB </label><br>
        </blockquote>
        <hr>


        <br><strong>3) Consider a set of n tasks with known runtimes r1, r2, … rn to be run on a uniprocessor machine. Which of the following processor scheduling algorithms will result in the maximum throughput?</strong><br>
        <div class="userans">
            <h4>Your Answer was : <%=userans3%></h4>
            <h4>Correct Answer is : B</h4>
        </div>
        <blockquote>
        <input type="radio" name="q3" value="A" id="a3" required>
        <label for="a3">Round-Robin</label><br>
        <div class="ans">
            <input type="radio" name="q3" value="B" id="b3" checked required>
            <label for="b3">Shortest-Job-First</label><br>
        </div>
        <input type="radio" name="q3" value="C" id="c3" required> 
        <label for="c3">Highest-Response-Ratio-Next</label><br>
        <input type="radio" name="q3" value="D" id="d3" required> 
        <label for="d3">First-Come-First-Served</label><br>
        </blockquote>
</div>

<%- include("../partials/footerResult"); -%>
